HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### properties ###
application.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


### react ###
../mall/node_modules
../mall/.pnp
../mall/.pnp.js

# testing
../mall/coverage

# production
../mall/build

# misc
../mall/.DS_Store
../mall/.env.local
../mall/.env.development.local
../mall/.env.test.local
../mall/.env.production.local

../mall/npm-debug.log*
../mall/yarn-debug.log*
../mall/yarn-error.log*